body {
  background-color: #3d3d3d;
}
.creative-portfolio {
  .image {
    height: 350px;
    width: 1500px;
    border-radius: 50px;
  }
  .navbar-logo {
    height: 65px;
    width: 65px;
    border-radius: 50%;
  }
  .navbtns {
    border-radius: 10%;
  }
  .btn-navbar,
  .btn-category {
    font-size: medium;
    border-radius: 10px;
    background-color: pink !important;
  }
  .intro-header {
    color: pink;
    font-size: 150px;
  }
  .carousel-container {
    .carousel-graphic {
      width: 600px;
      height: 750px;
      border-radius: 30px;
    }
  }
}

h4,
p {
  color: pink;
}
p {
  line-height: 30px;
  font-size: x-large;
}
